/* esto siempre va al inicio */
/* esto es una variable para usarlo en colores */
:root{
    --color1: #2091f9;
    --color2: #eb2d7f;
    --color3: #252b42;
}
/* ESTO SE LLAMA "RESET" */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family es para cambiar la fuente */
    font-family: arial;
    border: 1px solid #ddd;
}
/* estilos generales */
.contenedor{
    max-width: 1000px;
    /* este margin tiene 2 valores el primero "0" este es arriba y abajo y el segundo "auto" es derecha e izquierda, auto significa "navegador encargate" */
    margin: 0 auto;
}
.lenguajes{
    display: flex;
}
.lenguajes-texto{
    padding: 30px;
}
.lenguajes-texto *{
    margin-top: 20px;
}
.pc{
    max-width: 500px;
}
section{
    margin-bottom: 120px;
}
button{
    background-color: var(--color1);
    border: 0;
    /* el padding es el espacio del contenedor, primero va el alto y luego el ancho */
    padding: 10px 25px;
    color: white;
    border-radius: 20px;
}
button:hover{
    background-color: var(--color2);
    /* font-weight esto es la configuracion de grosor de la letra osea NEGRITA */
    font-weight: bold;
    cursor: pointer;
}
footer{
    min-height: 250px;
    background-color: var(--color3);
    color: white;
}
footer .contenedor{
    display: flex;
    padding: 40px;
    justify-content: space-between;
}
.card-footer{
    width: 25%;
}
.card-footer h3{
    margin-bottom: 20px;
}